@page
@model IndexModel
@{
    ViewData["Title"] = "Edycja profilu";
    ViewData["ActivePage"] = ManageNavPages.Index;
}



<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6 offset-3">
        <h2 class="text-center mb-5">@ViewData["Title"]</h2>
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Email" class="form-label"></label>
            <div class="form-floating">
                <input asp-for="Email" class="form-control" disabled/>
            </div>
            <label asp-for="ForumUsername" class="form-label mt-3"></label>
            <div class="form-floating">
                <input asp-for="ForumUsername" class="form-control" disabled/>
            </div>
            <label asp-for="Input.PhoneNumber" class="form-label mt-3"></label>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control "/>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <label asp-for="Input.ProfileDescription" class="form-label mt-3"></label>
            <textarea asp-for="Input.ProfileDescription" class="form-control" style="resize: none;" rows="5"> </textarea>
            <span asp-validation-for="Input.ProfileDescription" class="text-danger"></span>
            
            <label class="form-label mt-3" for="imageFile">Zmiana zdjęcia profilowego</label>
            <div class="form-floating">
                <button type="button" class="btn btn-outline-primary" onclick="previewImage()">
                    <i class="fa-solid fa-plus"></i>
                    Dodaj Zdjęcie
                </button>
                <input type="file" id="getFile" name="getFile" style="display:none" accept="image/*"> 
            </div>
            <div>
                <label id="imageName" class="form-label mt-3" style="visibility: hidden"> </label>
            </div>
            <div>
                <label id="previewLabel" for="photoDiv" class="form-label mt-3" style="visibility: hidden"> Podgląd zdjęcia: </label>
            </div>
            <div id="photoDiv" class="row" style="display: none;">
                <div class="d-flex col-lg-3 col-md-3 col-sm-3 me-1 mb-2 mt-2 offset-1 align-items-center justify-content-center">
                    <img id="previewPhotoLarge" class="img-fluid" src="#" alt="previewLarge">
                </div>
                <div class="d-flex col-lg-2 col-md-3 col-sm-3 me-1 mb-2 mt-2 align-items-center justify-content-center">
                    <img id="previewPhotoMedium"class="img-fluid" src="#" alt="previewMedium">
                </div>
                <div class="d-flex col-lg-1 col-md-3 col-sm-3 me-1 mb-2 mt-2 align-items-center justify-content-center">
                    <img id="previewPhotoSmall" class="img-fluid" src="#" alt="previewSmall">
                </div>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary mt-3">Zapisz dane</button>
        </form>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="/js/User/AddImage.js"></script>
}
