@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MinecraftServerWeb.ViewModels.CreateAnnouncementViewModel

@{
    ViewData["Title"] = "Tworzenie Ogłoszenia";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form method="post">
            <label asp-for="Announcement.Title" class="control-label me-3"> Postuj na kanale Discord </label>
            <input type="checkbox" name="PostToDiscord" value="true" checked/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Announcement.Title" class="control-label"> Tytuł </label>
                <input asp-for="Announcement.Title" class="form-control"/>
                <span asp-validation-for="Announcement.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Announcement.Description" class="control-label"> Opis </label>
                <textarea asp-for="Announcement.Description" rows="3" class="form-control"> </textarea>
                <span asp-validation-for="Announcement.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Announcement.Content" class="control-label"> Treść Ogłoszenia </label>
                <textarea asp-for="Announcement.Content" rows="20" class="form-control" required data-error="Wprowadź tekst"></textarea>
                <span asp-validation-for="Announcement.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Stwórz" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Powrót do ogłoszeń</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
