@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
    This app does not currently have a real email sender registered. Configure credentials for /Utility/EmailSender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
    </p>
    }
    else
    {
    <p>
        Konto zostało założone. Sprawdź swoją skrzynkę mailową w celu potwierdzenia adresu Email.
    </p>
    }
}

