html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.dataTables_filter input
{
  color: white;
}

.dataTables_wrapper .dataTables_length select
{
  color: #FFAA00;
}

table.dataTable.row-border tbody td,table.dataTable.row-border thead td{
  border-top: 1px solid white !important;
  border-bottom: 1px solid white !important;
}

