@using MinecraftServerWeb.Utility
@using System.Security.Claims   
@model CommentViewModel

@{
    <div class="row border border-secondary mt-2 mb-1 rounded-3">
        <div class="col-sm-2 text-center ms-1 mt-1">
            <div class="card  border border-4">
                <img src="https://source.unsplash.com/user/c_v_r/400x400" class="img-fluid rounded mx-auto d-block mb-1"
                     style="padding-top: 5px; width: auto; height: 60px" alt="image of user"/>
                <h6 class="text-wrap"> @Model.CommentAuthor.ForumNickname </h6>
                <div class="mb-1 badge bg-danger text-wrap"> @Model.CommentAuthor.Rank </div>
            </div>
        </div>
        <div class="col-sm-7 align-content-center mt-1 me-2 ms-2">
            <div class="row">
                <span class="form-control" readonly>
                    @Model.Comment.Content
                </span>
            </div>
            <div class="row d-flex align-content-end">
                <h6>Dodano: @Model.Comment.DateCreated</h6>
            </div>
        </div>
        @if (User.IsInRole(SD.RoleMod) || User.IsInRole(SD.RoleAdmin) || User.IsInRole(SD.RoleOwner) ||
             User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.Comment.AuthorId)
        {
            <div class="col-sm-1 mt-1 offset-1">
                <a class="btn btn-danger float-end"> Usuń komentarz </a>
            </div>
        }
    </div>
}