@{
    ViewData["Title"] = "Home Page";
}
<style>
    .image {
        background-color: lightblue;
        border: 1px solid #000000;
        text-align: center;
        height: 250px;
    }
/*[class*="col"] {
        padding: 1rem;

    }*/
     
</style>
<div class="container-lg border">
    <div class="image"> SERVER BANNER </div>
</div>
<div class="container-xl"></div>
<div class="text-center">
    <h2 class="display-4">Welcome to our server</h2>
</div>
